In [2]:
from sqlalchemy import create_engine
import pandas as pd
#sqlalchemy connection object
print("Connecting to patent db...")
engine = create_engine('mysql+pymysql://ipmaster:oroonoko64@ipinformatics.ccmbmjzurfjl.us-west-1.rds.amazonaws.com:3306/ipinformatics')
connection = engine.connect()
print("Complete.")

Connecting to patent db...
Complete.

In [3]:
#read in patent ids
with open("litigated-2hop.txt", "r") as f:
    print("Reading in patent IDs...")
    idlist = f.read().splitlines()
    print("Complete.")

Reading in patent IDs...
Complete.

In [4]:
#chunker
chunks = []
subchunk = []

maxchunks = int(len(idlist)/5000)
maxchunks_real = maxchunks + 1
print("Total chunks to do: " + str(maxchunks_real))

remainder = len(idlist) - (maxchunks*5000)
print("Size of remainder: " + str(remainder))

count = 0

for id in idlist:
    subchunk.append(id)
    if count <= maxchunks:
        if len(subchunk) == 5000:
            yy = ','.join(str(s) for s in subchunk)
            chunks.append(yy)
            count = count + 1
            subchunk = []
    elif count > maxchunks:
        if len(subchunk) == remainder:
            yy = ','.join(str(s) for s in subchunk)
            chunks.append(yy)
            count = count + 1
            subchunk = []

Total chunks to do: 5
Size of remainder: 2117

In [5]:
#Metadata Query No. 1
metadata1 = "SELECT patent_id, number AS application_number, date AS grant_date FROM ipinformatics.patentsview_application WHERE patent_id IN("

count = 0

for c in chunks:
    count = count + 1
    print("Chunk No. " + str(count))
    query = metadata1 + str(c) + ")"
    md1 = pd.read_sql_query(query, connection)
    md1.set_index('patent_id')

print(md1.head())

Chunk No. 1

/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D345393'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D341413'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D319145'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D297876'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'H0005487'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D297744'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'H0005460'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D362850'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D298137'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D344016'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D301202'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'PP4542'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D298410'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D310355'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D354155'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D350708'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D343629'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'H0010391'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D311833'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D307742'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D298066'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D325210'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D356054'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D333772'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D324673'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D323883'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'PP6341'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D305628'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D348634'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'PP6321'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D299182'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D264087'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D312594'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'H0015199'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D244359'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'H0004430'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE29149'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D245185'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'H0015679'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28965'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'H0003468'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28712'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE29914'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28685'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE29086'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D254870'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D281552'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D257180'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE30349'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D244494'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE29999'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D256374'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28703'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE29725'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28784'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28725'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE29504'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE29602'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE29284'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28933'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28956'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28880'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28978'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28775'")
  result = self._query(query)

Chunk No. 2
Chunk No. 3
Chunk No. 4
  patent_id application_number  grant_date
0   4058839           04502532  1974-09-03
1   3991406           04685519  1967-11-24
2   4055746           04874760  1969-11-07
3   4055801           05064703  1970-08-18
4   3990710           05119535  1971-03-01

In [6]:
#Metadata Query No. 2
metadata2 = "SELECT patent_id, assignee_id FROM ipinformatics.patentsview_patent_assignee WHERE patent_id IN("

count = 0

for c in chunks:
    count = count + 1
    print("Chunk No. " + str(count))
    query = metadata2 + str(c) + ")"
    md2 = pd.read_sql_query(query, connection)
    md2.set_index('patent_id')
    
md2['assignee_id'] = md2.assignee_id.str.replace(r'\r', '')
print(md2.head())

Chunk No. 1

/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242583'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242584'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242585'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242586'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242588'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242592'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242594'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242597'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242598'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242599'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242601'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242606'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242607'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242610'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242612'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242614'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242615'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242617'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242618'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242619'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242620'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242621'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242622'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242623'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242624'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242625'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242626'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242627'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242628'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242629'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242630'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242631'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242632'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242633'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242634'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242635'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242636'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242637'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242638'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242642'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242645'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242646'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242648'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242649'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242651'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242653'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242656'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242657'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242658'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242659'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242660'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242661'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242667'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242668'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242669'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242671'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242673'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242675'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242678'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242679'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D242682'")
  result = self._query(query)

Chunk No. 2
Chunk No. 3
Chunk No. 4
  patent_id                       assignee_id
0   3955180  210a668b9c6902622fb733a379e9a845
1   3956615  5866104203780349658d8543ac0f0fd4
2   3956734  ab793877c3cb16d7e3927a856568d333
3   3957389  ae599631c46d39900613a0a890a8289f
4   3958081  9771095cf0c022bf34abcea8cf780232

In [7]:
#Metadata Query No. 3
metadata3 = "SELECT patent_no AS patent_id, primary_examiner_name AS examiner_id, group_art_unit_no AS group_art_unit FROM iplogic.pair_application WHERE patent_no IN("

count = 0

for c in chunks:
    count = count + 1
    print("Chunk No. " + str(count))
    query = metadata3 + str(c) + ")"
    md3 = pd.read_sql_query(query, connection)
    md3.set_index('patent_id')

print(md3.head())

Chunk No. 1

/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D028834'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D212873'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D207695'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D212416'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D209924'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D210865'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D210372'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D210373'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D211303'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D213981'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE27093'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D215723'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D218744'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D217068'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D217285'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D217966'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D216577'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D217968'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D218831'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D218209'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D218210'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D219173'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D224059'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D217928'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D217965'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D219175'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D219189'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D219361'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D219778'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D221313'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D221314'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D219118'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D221266'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D219835'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D222928'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE27643'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D192653'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D192750'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D197455'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D200042'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D198304'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D200089'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D211846'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D208580'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D207986'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D205116'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'H001519'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'PP02747'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE26887'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE26471'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE28390'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE27035'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE27321'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE26963'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE27412'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D228571'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D219463'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D220131'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D220313'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D220553'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D223183'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D220660'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D221226'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D220402'")
  result = self._query(query)

Chunk No. 2
Chunk No. 3
Chunk No. 4
  patent_id   examiner_id group_art_unit
0   4025903             -           None
1   4319225  DEFINED  NOT           2306
2   3989899             -           2601
3   4319358             -           2202
4   4188618             -           2604

In [8]:
#Tech Class 1 - Query No. 4
techclass1 = "SELECT patent_id, mainclass_id AS uspc, sequence FROM ipinformatics.patentsview_uspc WHERE patent_id IN("

count = 0

for c in chunks:
    count = count + 1
    print("Chunk No. " + str(count))
    query = techclass1 + str(c) + ")"
    tc1 = pd.read_sql_query(query, connection)
    tc1.set_index('patent_id')

print(tc1.head())

Chunk No. 1

/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'PP16030'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D512290'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D591464'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D519803'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D748714'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D502919'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D545404'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D600460'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D639755'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D651693'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D744479'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D539546'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D748578'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D511130'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D720980'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D515618'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D717493'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D581232'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE44760'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D503018'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D751226'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D730535'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D734898'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D519005'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D325183'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D714594'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE41885'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D507954'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D675060'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D535883'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D620851'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D270618'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D561364'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D641633'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D616148'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D714651'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D578106'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D620787'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D584625'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D525016'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D514374'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE45177'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D529481'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'PP26417'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D743752'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D714587'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE45307'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D651080'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D522609'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D695944'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D742129'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D609135'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D683795'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D615755'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE40984'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D605346'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D576581'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D667410'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE42015'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D567706'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D708814'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D245563'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D718369'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D539557'")
  result = self._query(query)

Chunk No. 2
Chunk No. 3
Chunk No. 4
  patent_id uspc  sequence
0   5923846  395         1
1   8285551  701         2
2   5955970  428         2
3   5396435  364         1
4   7200357  455         6

In [9]:
#Tech Class 2 - Query No. 5

techclass2 = "SELECT patent_id, group_id AS cpc, sequence FROM ipinformatics.patentsview_cpc_current WHERE patent_id IN("

count = 0

for c in chunks:
    count = count + 1
    print("Chunk No. " + str(count))
    query = techclass2 + str(c) + ")"
    tc2 = pd.read_sql_query(query, connection)
    tc2.set_index('patent_id')

print(tc2.head())

Chunk No. 1
Chunk No. 2
Chunk No. 3
Chunk No. 4
  patent_id   cpc  sequence
0   5266926  G08B         0
1   5073929  H04Q        42
2   6353798  G01C         1
3   5659350  H04N        12
4   5796038  H01L         6

In [10]:
#Citations 1 - Query No. 6
cites1 = "SELECT patent_id, citation_id, date, category, sequence FROM ipinformatics.patentsview_us_patent_citation WHERE patent_id IN("

count = 0

for c in chunks:
    count = count + 1
    print("Chunk No. " + str(count))
    query = cites1 + str(c) + ")"
    ct1 = pd.read_sql_query(query, connection)
    ct1.set_index('patent_id')

print(ct1.head())

Chunk No. 1

/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D587429'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D552798'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D618795'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D503998'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D654559'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D625149'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D729325'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D694256'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D656715'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D603225'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D608981'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D714167'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D651206'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D694496'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D597398'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D602255'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D736137'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D525101'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE43801'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D520879'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D632679'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D690175'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D572701'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D756492'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D639091'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D718918'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D716540'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D606957'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D631478'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D688182'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D695899'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D681110'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE42625'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D710408'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D563358'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D680437'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D579906'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D672645'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D753463'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D647734'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D678463'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D744767'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D686169'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'RE42959'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D760696'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D505165'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D503872'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D701845'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D742674'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D746282'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D581183'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D638808'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D714590'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'H002173'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D601253'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D538016'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D591280'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D759634'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D675531'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D741446'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D640004'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D599646'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D653895'")
  result = self._query(query)
/Users/tylerseymour/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Truncated incorrect DOUBLE value: 'D566036'")
  result = self._query(query)

Chunk No. 2
Chunk No. 3
Chunk No. 4
  patent_id citation_id        date           category  sequence
0   6842906     5867153  1999-02-01     cited by other        47
1   4876725     3511571  1970-05-01                            0
2   6845398     6300880  2001-10-01  cited by examiner        44
3   5334640     4791061  1988-12-01                            8
4   6154213     5008853  1991-04-01                            0

In [11]:
#Claims 1 - Query No. 7

#chunker
chunks = []
subchunk = []

maxchunks = int(len(idlist)/5000)
maxchunks_real = maxchunks + 1
print("Total chunks to do: " + str(maxchunks_real))

remainder = len(idlist) - (maxchunks*5000)
print("Size of remainder: " + str(remainder))

count = 0
count2 = 0

for id in idlist:
    subchunk.append(id)
    if count <= maxchunks:
        if len(subchunk) == 5000:
            yy = "','".join(str(s) for s in subchunk)
            chunks.append(yy)
            count = count + 1
            subchunk = []
    elif count > maxchunks:
        if len(subchunk) == remainder:
            yy = "','".join(str(s) for s in subchunk)
            chunks.append(yy)
            count = count + 1
            subchunk = []
claims1 = "SELECT patent_id, text, sequence, dependent FROM ipinformatics.patentsview_claim WHERE patent_id IN('"

count = 0

for c in chunks:
    count = count + 1
    print("Chunk No. " + str(count))
    query = claims1 + str(c) + "')"
    clm1 = pd.read_sql_query(query, connection)
    clm1.set_index('patent_id')

print(clm1.head())

Total chunks to do: 5
Size of remainder: 2117
Chunk No. 1
Chunk No. 2
Chunk No. 3
Chunk No. 4
  patent_id                                               text  sequence  \
0   3955073  21. The device of claim 17 further including:m...        21
1   3955073  5. The device of claim 4 wherein said decimal ...         5
2   3955073  12. The device of claim 1 wherein said sensing...        12
3   3955073  22. A device for conveniently determining and ...        22
4   3955073  3. The device of claim 2 wherein said mechanic...         3

   dependent
0          0
1          0
2          0
3          0
4          0

In [12]:
#Ultimate Merge
merge1 = md1.merge(md2, on='patent_id', how='left')
merge2 = merge1.merge(md3, on='patent_id', how='left')
merge3 = merge2.merge(tc1, on='patent_id', how='left')
finalmerge = merge3.merge(ct1, on='patent_id', how='left')

print(finalmerge.head())
print("Number of records for this query -->")
print(finalmerge.size)

  patent_id application_number  grant_date                       assignee_id  \
0   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba
1   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba
2   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba
3   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba
4   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba

  examiner_id group_art_unit uspc  sequence_x citation_id        date  \
0         NaN            NaN  235         2.0     3308010  1967-03-01
1         NaN            NaN  235         2.0     3221428  1965-12-01
2         NaN            NaN  235         2.0     3701134  1972-10-01
3         NaN            NaN  235         2.0     3836754  1974-09-01
4         NaN            NaN  235         2.0     3644716  1972-02-01

  category  sequence_y
0                  1.0
1                  0.0
2                  4.0
3                  5.0
4                  3.0
Number of records for this query -->
3223680

In [13]:
#Switching to new dataframe DF....
df = finalmerge
print(df.head())

  patent_id application_number  grant_date                       assignee_id  \
0   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba
1   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba
2   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba
3   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba
4   4058839           04502532  1974-09-03  c40d37876fb270067e0369462e15daba

  examiner_id group_art_unit uspc  sequence_x citation_id        date  \
0         NaN            NaN  235         2.0     3308010  1967-03-01
1         NaN            NaN  235         2.0     3221428  1965-12-01
2         NaN            NaN  235         2.0     3701134  1972-10-01
3         NaN            NaN  235         2.0     3836754  1974-09-01
4         NaN            NaN  235         2.0     3644716  1972-02-01

  category  sequence_y
0                  1.0
1                  0.0
2                  4.0
3                  5.0
4                  3.0

In [17]:
df9 = df.set_index('patent_id')
print(df9.head())
df9.to_json("doubletriple.json", orient='values')

          application_number  grant_date                       assignee_id  \
patent_id
4058839             04502532  1974-09-03  c40d37876fb270067e0369462e15daba
4058839             04502532  1974-09-03  c40d37876fb270067e0369462e15daba
4058839             04502532  1974-09-03  c40d37876fb270067e0369462e15daba
4058839             04502532  1974-09-03  c40d37876fb270067e0369462e15daba
4058839             04502532  1974-09-03  c40d37876fb270067e0369462e15daba

          examiner_id group_art_unit uspc  sequence_x citation_id        date  \
patent_id
4058839           NaN            NaN  235         2.0     3308010  1967-03-01
4058839           NaN            NaN  235         2.0     3221428  1965-12-01
4058839           NaN            NaN  235         2.0     3701134  1972-10-01
4058839           NaN            NaN  235         2.0     3836754  1974-09-01
4058839           NaN            NaN  235         2.0     3644716  1972-02-01

          category  sequence_y
patent_id
4058839                    1.0
4058839                    0.0
4058839                    4.0
4058839                    5.0
4058839                    3.0

In [102]:
df9 = df.reset_index().groupby('patent_id')
print(df9.head())

           index patent_id application_number  grant_date  \
0              0   4058839           04502532  1974-09-03
1              1   4058839           04502532  1974-09-03
2              2   4058839           04502532  1974-09-03
3              3   4058839           04502532  1974-09-03
4              4   4058839           04502532  1974-09-03
486          486   3991406           04685519  1967-11-24
487          487   3991406           04685519  1967-11-24
488          488   3991406           04685519  1967-11-24
489          489   3991406           04685519  1967-11-24
490          490   3991406           04685519  1967-11-24
576          576   4055746           04874760  1969-11-07
577          577   4055746           04874760  1969-11-07
578          578   4055746           04874760  1969-11-07
579          579   4055746           04874760  1969-11-07
580          580   4055746           04874760  1969-11-07
675          675   4055801           05064703  1970-08-18
676          676   4055801           05064703  1970-08-18
677          677   4055801           05064703  1970-08-18
678          678   4055801           05064703  1970-08-18
679          679   4055801           05064703  1970-08-18
699          699   3990710           05119535  1971-03-01
700          700   3990710           05119535  1971-03-01
701          701   3990710           05119535  1971-03-01
702          702   3990710           05119535  1971-03-01
703          703   3990710           05119535  1971-03-01
879          879   4315315           05122494  1971-03-09
880          880   4315315           05122494  1971-03-09
881          881   4315315           05122494  1971-03-09
882          882   4315315           05122494  1971-03-09
883          883   4315315           05122494  1971-03-09
...          ...       ...                ...         ...
6972346  6972346   8614710           13199201  2011-08-22
6972347  6972347   8614710           13199201  2011-08-22
6972348  6972348   8614710           13199201  2011-08-22
6972349  6972349   8614710           13199201  2011-08-22
6972350  6972350   8614710           13199201  2011-08-22
6972352  6972352   8477580           13225764  2011-09-06
6972353  6972353   8477580           13225764  2011-09-06
6972354  6972354   8477580           13225764  2011-09-06
6972355  6972355   8477580           13225764  2011-09-06
6972356  6972356   8477580           13225764  2011-09-06
6972392  6972392   8315943           13253776  2011-10-05
6972393  6972393   8315943           13253776  2011-10-05
6972394  6972394   8315943           13253776  2011-10-05
6972395  6972395   8315943           13253776  2011-10-05
6972396  6972396   8315943           13253776  2011-10-05
6973424  6973424   8285553           13364194  2012-02-01
6973425  6973425   8285553           13364194  2012-02-01
6973426  6973426   8285553           13364194  2012-02-01
6973427  6973427   8285553           13364194  2012-02-01
6973428  6973428   8285553           13364194  2012-02-01
6980024  6980024   8285551           13410080  2012-03-01
6980025  6980025   8285551           13410080  2012-03-01
6980026  6980026   8285551           13410080  2012-03-01
6980027  6980027   8285551           13410080  2012-03-01
6980028  6980028   8285551           13410080  2012-03-01
6986744  6986744   8712777           13750583  2013-01-25
6986745  6986745   8712777           13750583  2013-01-25
6986746  6986746   8712777           13750583  2013-01-25
6986747  6986747   8712777           13750583  2013-01-25
6986748  6986748   8712777           13750583  2013-01-25

                              assignee_id            examiner_id  \
0        c40d37876fb270067e0369462e15daba                    NaN
1        c40d37876fb270067e0369462e15daba                    NaN
2        c40d37876fb270067e0369462e15daba                    NaN
3        c40d37876fb270067e0369462e15daba                    NaN
4        c40d37876fb270067e0369462e15daba                    NaN
486      fe70c55c09ece448860b7c28772a1e1c                    NaN
487      fe70c55c09ece448860b7c28772a1e1c                    NaN
488      fe70c55c09ece448860b7c28772a1e1c                    NaN
489      fe70c55c09ece448860b7c28772a1e1c                    NaN
490      fe70c55c09ece448860b7c28772a1e1c                    NaN
576                                   NaN                    NaN
577                                   NaN                    NaN
578                                   NaN                    NaN
579                                   NaN                    NaN
580                                   NaN                    NaN
675                                   NaN                    NaN
676                                   NaN                    NaN
677                                   NaN                    NaN
678                                   NaN                    NaN
679                                   NaN                    NaN
699                                   NaN                    NaN
700                                   NaN                    NaN
701                                   NaN                    NaN
702                                   NaN                    NaN
703                                   NaN                    NaN
879      2ca583976f717f6234efd4e28234e114                    NaN
880      2ca583976f717f6234efd4e28234e114                    NaN
881      2ca583976f717f6234efd4e28234e114                    NaN
882      2ca583976f717f6234efd4e28234e114                    NaN
883      2ca583976f717f6234efd4e28234e114                    NaN
...                                   ...                    ...
6972346                               NaN         AARON M RICHER
6972347                               NaN         AARON M RICHER
6972348                               NaN         AARON M RICHER
6972349                               NaN         AARON M RICHER
6972350                               NaN         AARON M RICHER
6972352  fc6195ee3f731217e0726df825228825      DIONNE  PENDLETON
6972353  fc6195ee3f731217e0726df825228825      DIONNE  PENDLETON
6972354  fc6195ee3f731217e0726df825228825      DIONNE  PENDLETON
6972355  fc6195ee3f731217e0726df825228825      DIONNE  PENDLETON
6972356  fc6195ee3f731217e0726df825228825      DIONNE  PENDLETON
6972392  ff125f19b5edae4a13b0aa2a4594ea47          EDWARD  CHANG
6972393  ff125f19b5edae4a13b0aa2a4594ea47          EDWARD  CHANG
6972394  ff125f19b5edae4a13b0aa2a4594ea47          EDWARD  CHANG
6972395  ff125f19b5edae4a13b0aa2a4594ea47          EDWARD  CHANG
6972396  ff125f19b5edae4a13b0aa2a4594ea47          EDWARD  CHANG
6973424                               NaN  DANIEL DEMELASH ABEBE
6973425                               NaN  DANIEL DEMELASH ABEBE
6973426                               NaN  DANIEL DEMELASH ABEBE
6973427                               NaN  DANIEL DEMELASH ABEBE
6973428                               NaN  DANIEL DEMELASH ABEBE
6980024                               NaN  DANIEL DEMELASH ABEBE
6980025                               NaN  DANIEL DEMELASH ABEBE
6980026                               NaN  DANIEL DEMELASH ABEBE
6980027                               NaN  DANIEL DEMELASH ABEBE
6980028                               NaN  DANIEL DEMELASH ABEBE
6986744  2033a920af0cecab3715f5c82079b6ef  DANIEL DEMELASH ABEBE
6986745  2033a920af0cecab3715f5c82079b6ef  DANIEL DEMELASH ABEBE
6986746  2033a920af0cecab3715f5c82079b6ef  DANIEL DEMELASH ABEBE
6986747  2033a920af0cecab3715f5c82079b6ef  DANIEL DEMELASH ABEBE
6986748  2033a920af0cecab3715f5c82079b6ef  DANIEL DEMELASH ABEBE

        group_art_unit uspc  sequence_x citation_id        date  \
0                  NaN  235         2.0     3308010  1967-03-01
1                  NaN  235         2.0     3308010  1967-03-01
2                  NaN  235         2.0     3308010  1967-03-01
3                  NaN  235         2.0     3308010  1967-03-01
4                  NaN  235         2.0     3308010  1967-03-01
486                NaN  340         0.0     3286239  1966-11-01
487                NaN  340         0.0     3286239  1966-11-01
488                NaN  340         0.0     3286239  1966-11-01
489                NaN  340         0.0     3286239  1966-11-01
490                NaN  340         0.0     3286239  1966-11-01
576                NaN  235         1.0     3588449  1971-06-01
577                NaN  235         1.0     3588449  1971-06-01
578                NaN  235         1.0     3588449  1971-06-01
579                NaN  235         1.0     3440719  1969-04-01
580                NaN  235         1.0     3440719  1969-04-01
675                NaN  324         1.0     3546582  1970-12-01
676                NaN  324         1.0     3546582  1970-12-01
677                NaN  324         1.0     3546582  1970-12-01
678                NaN  324         1.0     3546582  1970-12-01
679                NaN  324         1.0     3546582  1970-12-01
699                NaN  274         0.0     2557031  1951-06-01
700                NaN  274         0.0     2557031  1951-06-01
701                NaN  274         0.0     2557031  1951-06-01
702                NaN  274         0.0     2557031  1951-06-01
703                NaN  274         0.0     2557031  1951-06-01
879                NaN  364         0.0     3533086  1970-10-01
880                NaN  364         0.0     3533086  1970-10-01
881                NaN  364         0.0     3533086  1970-10-01
882                NaN  364         0.0     3533086  1970-10-01
883                NaN  364         0.0     3533086  1970-10-01
...                ...  ...         ...         ...         ...
6972346           2614  345         0.0         NaN         NaN
6972347           2614  345         0.0         NaN         NaN
6972348           2614  345         0.0         NaN         NaN
6972349           2614  345         0.0         NaN         NaN
6972350           2614  345         0.0         NaN         NaN
6972352           2688  369         0.0         NaN         NaN
6972353           2688  369         0.0         NaN         NaN
6972354           2688  369         0.0         NaN         NaN
6972355           2688  369         0.0         NaN         NaN
6972356           2688  369         0.0         NaN         NaN
6972392           3691  705         0.0     5521813  1996-05-01
6972393           3691  705         0.0     5521813  1996-05-01
6972394           3691  705         0.0     5521813  1996-05-01
6972395           3691  705         0.0     5521813  1996-05-01
6972396           3691  705         0.0     5521813  1996-05-01
6973424           2626  707         3.0     6082500  2000-07-01
6973425           2626  707         3.0     6082500  2000-07-01
6973426           2626  707         3.0     6082500  2000-07-01
6973427           2626  707         3.0     6082500  2000-07-01
6973428           2626  707         3.0     6082500  2000-07-01
6980024           2626  701         2.0     6571279  2003-05-01
6980025           2626  701         2.0     6571279  2003-05-01
6980026           2626  701         2.0     6571279  2003-05-01
6980027           2626  701         2.0     6571279  2003-05-01
6980028           2626  701         2.0     6571279  2003-05-01
6986744           2657  704         0.0     5819284  1998-10-01
6986745           2657  704         0.0     5819284  1998-10-01
6986746           2657  704         0.0     5819284  1998-10-01
6986747           2657  704         0.0     5819284  1998-10-01
6986748           2657  704         0.0     5819284  1998-10-01

                   category  sequence_y  \
0                                   1.0
1                                   1.0
2                                   1.0
3                                   1.0
4                                   1.0
486                                 0.0
487                                 0.0
488                                 0.0
489                                 0.0
490                                 0.0
576                                10.0
577                                10.0
578                                10.0
579                                 5.0
580                                 5.0
675                                 0.0
676                                 0.0
677                                 0.0
678                                 0.0
679                                 0.0
699                                 0.0
700                                 0.0
701                                 0.0
702                                 0.0
703                                 0.0
879                                 0.0
880                                 0.0
881                                 0.0
882                                 0.0
883                                 0.0
...                     ...         ...
6972346                 NaN         NaN
6972347                 NaN         NaN
6972348                 NaN         NaN
6972349                 NaN         NaN
6972350                 NaN         NaN
6972352                 NaN         NaN
6972353                 NaN         NaN
6972354                 NaN         NaN
6972355                 NaN         NaN
6972356                 NaN         NaN
6972392      cited by other         8.0
6972393      cited by other         8.0
6972394      cited by other         8.0
6972395      cited by other         8.0
6972396      cited by other         8.0
6973424      cited by other        30.0
6973425      cited by other        30.0
6973426      cited by other        30.0
6973427      cited by other        30.0
6973428      cited by other        30.0
6980024      cited by other        43.0
6980025      cited by other        43.0
6980026      cited by other        43.0
6980027      cited by other        43.0
6980028      cited by other        43.0
6986744  cited by applicant        26.0
6986745  cited by applicant        26.0
6986746  cited by applicant        26.0
6986747  cited by applicant        26.0
6986748  cited by applicant        26.0

                                                      text  sequence  \
0        1. A flexible resilient magnetic particle type...         1
1        12. An information card in accordance with cla...        12
2        18. An information card in accordance with cla...        18
3        21. An information card in accordance with cla...        21
4        20. An information card in accordance with cla...        20
486      7. A data processor system in accordance with ...         7
487      30. In a complex of plural relatively independ...        30
488      31. In a multiprocessor including a plurality ...        31
489      3. The combination in accordance with claim 2 ...         3
490      9. A data processor system in accordance with ...         9
576      3. An electronic computer system comprised of ...         3
577      1. An electronic computer system comprised of ...         1
578      2. An electronic computer system comprised of ...         2
579      3. An electronic computer system comprised of ...         3
580      1. An electronic computer system comprised of ...         1
675      2. The apparatus of claim 1 wherein each of th...         2
676      9. The apparatus of claim 1 wherein each of sa...         9
677      3. The apparatus of claim 2 wherein at least o...         3
678      5. The apparatus of claim 1 wherein at least o...         5
679      12. The apparatus of claim 7 wherein each of s...        12
699      10. Recording apparatus according to claim 7 w...        10
700      5. A recording system as defined in claim 1, w...         5
701      1. A coin-operated recording system for transf...         1
702      8. Recording apparatus according to claim 7 wh...         8
703      4. A recording system as defined in claim 1, w...         4
879      5. The method recited in claim 4,wherein the a...         5
880      6. The method as recited in claim 4,wherein th...         6
881      7. The method recited in claim 6,including the...         7
882      10. The method of claim 8,wherein the terminal...        10
883      1. A method of designing a computer program fr...         1
...                                                    ...       ...
6972346  The method for deriving a pixel color accordin...         5
6972347  A method for deriving a pixel color comprising...         1
6972348  The method for deriving a pixel color accordin...         2
6972349  The method for deriving a pixel color accordin...         4
6972350  The method for deriving a pixel color accordin...         3
6972352  The objective lens according to claim 2, where...         4
6972353  The objective lens according to claim 1, where...         6
6972354  An optical drive device comprising an optical ...         8
6972355  The objective lens according to claim 2, where...         3
6972356  An optical pickup comprising:a spherical aberr...         7
6972392  The computing system of claim 6 wherein the ra...         8
6972393  The computer implemented method of claim 1 fur...         4
6972394  A non-transitory storage medium having a compu...         5
6972395  The computing system of claim 6 wherein the at...        12
6972396  The computer implemented method of claim 1 whe...         3
6973424  The apparatus of claim 15, wherein said input ...        27
6973425  The apparatus of claim 15, wherein:said remote...        20
6973426  The apparatus of claim 1, wherein said receive...        11
6973427  The apparatus of claim 1, wherein said input i...         5
6973428  The apparatus of claim 17, wherein said input ...        18
6980024  The apparatus of claim 19, wherein the graphic...        20
6980025  Network apparatus configured to provide inform...        28
6980026  The apparatus of claim 1, wherein the network ...         4
6980027  The apparatus of claim 1, wherein the network ...        10
6980028  The apparatus of claim 1, wherein the network ...        15
6986744  The method of claim 51, further comprising the...        59
6986745  The method of claim 51, wherein the user provi...        53
6986746  The method of claim 29, wherein the generating...        30
6986747  The method of claim 28, wherein the generating...        29
6986748  The method of claim 38, further comprising gen...        43

         dependent
0                0
1                0
2                0
3                0
4                0
486              0
487              0
488              0
489              0
490              0
576              0
577              0
578              0
579              0
580              0
675              0
676              0
677              0
678              0
679              0
699              0
700              0
701              0
702              0
703              0
879              0
880              0
881              0
882              0
883              0
...            ...
6972346          4
6972347          0
6972348          1
6972349          1
6972350          1
6972352          2
6972353          1
6972354          0
6972355          2
6972356          0
6972392          6
6972393          1
6972394          0
6972395          6
6972396          1
6973424         15
6973425         15
6973426          1
6973427          1
6973428         17
6980024         19
6980025          0
6980026          1
6980027          1
6980028          1
6986744         51
6986745         51
6986746         29
6986747         28
6986748         38

[24565 rows x 16 columns]

In [9]:
df.to_json("ultrarip.json", orient='records', lines=True)

NameError: name 'df' is not defined